/***font imports***/ 
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); /*heading font*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); /* paragraph font*/

body {
  color: #322F30;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0em;
  font-size: 16px;
  font-style: normal;
  text-rendering: optimizeLegibility;
  display: block;
  margin: 0;
  
}
.site-page {
  margin-top: 0;
  padding-right: 6vw;
  padding-left: 6vw;
  padding-bottom: 6vw;
  
  max-width: 100%;
  max-height: 100%
}

h1 {
 font-family: 'lato', sans-serif;
}

p {
  display: inline;
}

ul{
  padding: 0;
  list-style-type: none;
}

 li{
  list-style-type: none;
  display: inline-block;
}
/*
 /////BANNER
 */
.banner {
  display: grid;
  grid-template-columns: 1fr 6fr 0.7fr 0.7fr;
  margin:0;
  padding:0; 
  background-color: rgb(231, 208, 177);
}
.content-container {
  align-self: center;
  justify-self: center;
}
.menu {
  justify-self: center;}
.logo {
   text-align: center; }
.favorite {
  justify-self: end;}



.special{
  color: #ea7186;
}


/*
////CATEGORIES
*/
.wrapper-content {
  flex-wrap: nowrap; 
  justify-content: space-around;
  align-items: center;
  }
.wrapper {
  height: auto;
  max-width: 90%;
  max-height: fit-content;
  justify-content: center;
  margin: auto;
  }
.wrapper > * {
  grid-column: 2 / -2;}
.wrapper > .full {
  grid-column: 1 / -1;}

.hs {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, calc(40% - 40px));
  grid-template-rows: minmax(100px, 1fr);
  padding:0px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  margin: 0 0;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
  text-align: center;
 }

.hs > li:last-child {
  margin-right: 20px;}
.hs > li,
.categories {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  line-height: 1em;
 }
 .button-categories {
  border-radius: 100%;
  height: 55px;
  width: 55px;
  background-color: white;
  color: #666;
}

/*
//FILTERING // SORTING
*/
.sort-filter {
  padding: 1em;
}
.sort-filter li {
padding: .5em 0 .5em 2em;
}
.sort select {
  height: 2px;
}
form {
  display: grid;
  grid-template-columns:  8fr 0.7fr;
  align-self: center;
  justify-self: center;
  margin: 0 7% ; 
}

.dropdown-icon {
  justify-self: center;
  align-self: center;
}


.slidecontainer {
  width: 90%;
  text-align: center;
  margin: 1em;
}
.slider {
  -webkit-appearance: none;
  width: 244px;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/*
buttons: categories, add
*/

.button:hover {
  background-color: #666; /* Green */
  color: white;
}
.button {
  border: 1px solid #666;
  font-size: .8em;
  text-decoration: none;
  margin: 5px ;
 }
 .bag {
   background-color: rgb(22, 21, 21);
   color: rgb(253, 239, 216);
 }

.arrow {
  border: solid #666;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  }

 

  /* 
  ///////PRODUCT DESCRIPTION
   */

.product-image {
  max-width:85%;
  height:auto;
  display: block;
  margin: 0 auto;
  }
.product {
  display: flex;
  flex-direction: column;
  text-align: start; 
  padding: 4vw;
  margin: 5vw;
  margin-top: 0;
 }


.item-name{
font-size: 1.5em;
font-family: inherit;
font-weight: 800;
line-height: 1em;
text-align: center;
margin-bottom: 5%;
margin-top: 0;
}
.price {
  display: inline-block;

}
del {
  text-decoration: none;
}

 /* 
 /////////////FOOTER
 */
 footer { 
  margin-top: 0;
  padding-right: 6vw;
  padding-left: 6vw;
  max-width: 100%;
}
.bottom-info {
  font-size: 1em;
  line-height: 1em;
  background-color: rgb(247, 244, 244);
  padding-bottom: 6vw;
}

.grouped {
  padding-top: 8vw;
  padding-bottom: 5vw;
}

.display-flex{
  justify-content: space-between;
}

.additional-info {
  border-bottom: 1px solid grey;
  padding:10px 0; 
  margin: 0px;
 }

.plus-sign {
  float: right;
  margin-top: -2px;
  margin-right: 8px;
}

.copyright {
  text-align: center;
  font-size: 1em;
  color:inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.25em;
  display: block;
  padding: 2vw 0;
 }

.bottom-row {
padding-bottom: 5vw;
}
 /* social media icons */
.fa {
  padding: 10px 0px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin: 5px 2px;
  }

.social-media:hover {
  opacity: 0.7;
}

.facebook {
background-color: #3B5998;
color: white;
}

.twitter {
background: #55ACEE;
color: white;
}
.instagram {
  background: #125688;
  color: white;
}


@media screen and (min-width:640px)
{
  .hs {
    grid-gap: 10px;
    grid-template-columns: repeat(6, calc(40% - 40px));}
}

@media screen and (min-width: 768px)
{
  .hs {
    grid-gap: 10px;
    grid-template-columns: repeat(6, calc(25% - 40px));}
 .site-footer {
  margin: 4vw auto;}
  .bottom-info {
    font-size: 1.5em;}
  .button {
 
    border: 1px solid #666;
    font-size: 1em;
    margin: 10px ;
    }
  .wrapper-content > div {
    flex: 1;
  }
}